article {
    display: grid;
    grid-template-areas:
        'imagen titulo'
        'imagen texto'
        'none texto';
}

article h1 {
    grid-area: titulo;
}

img {
    width: 10rem;
    border-radius: 50%;
    grid-area: imagen;
    margin: auto 3rem;
}

#info {
    grid-area: texto;
}

.only-mobile {
    display: none;
}

@media screen and (max-width: 670px) {
    article {
        grid-template-areas:
            'titulo'
            'imagen'
            'texto';
    }

    img {
        margin: 0rem auto 2rem auto;
    }
}

@media screen and (max-width: 430px) {
    .only-mobile {
        display: initial;
    }
}
